*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url("img/bg.png");
	margin: 15px;
}

a{
    text-decoration: none;
	
}

#container{
	/*border: solid black 2px;*/
	width: 80%;
	margin: 0 auto;
    position: center;
}

#menu{
    background-color: gray;
    width: 100%; 
}	

#menu tr th a{
	
}

@media only screen and (max-width: 768px){

}